{
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "extends": "eslint:recommended",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": false
        },
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "rules": {
        "comma-dangle": [
            "error",
            {
                "arrays": "always",
                "objects": "always",
                "imports": "ignore",
                "exports": "ignore",
                "functions": "ignore"
            }
        ],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "linebreak-style": ["error", "unix"],
        "no-console": "off",
        "no-unexpected-multiline": "error",
        "no-unused-vars": [2, {"args": "all", "argsIgnorePattern": "^_"}],
        "quotes": ["error", "double"],
        "semi": ["error", "never"],
        "strict": 0
    }
}
