# dependencies
node_modules/
/frontend/node_modules
/library/node_modules

# production
dist/
/frontend/dist
/frontend/build
/library/dist
/library/jsdoc

# misc
.DS_Store
npm-debug.log*

# npm
# package-lock.json is now tracked for CI stability
# package-lock.json
