div.columns {
    display: flex;
    flex-direction: row;
}

@media (max-width: 600px) {
    div.columns {
        flex-direction: column;
    }
    div.column {
        padding-left: 10px;
        padding-right: 10px;
    }
}

div.column {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    white-space: nowrap;
}

span.number {
    font-size: smaller;
    color: rgba(244,176,4,0.4);
}

div.keys {
    display: flex;
    flex-direction: column;
}

div.info {
     padding-top: 1rem;
     font-size: small;
     color: rgb(244,176,4);
}

div.tiny {
    font-size: 12px;
    color: rgba(244,176,4,0.4);
}

.public {
    color: #5c9756;
    font-size: smaller;
    font-weight: 600;
}

.secret {
    color: #aa5e54;
    font-size: smaller;
    font-weight: 600;
}

div.centered {
    text-align: center;
}

.smaller {
    font-size: smaller;
}

.padded {
    margin: 0 100;
}
