div.footer {
    background-color: #091b31;
    border-top: 1px solid rgba(212, 228, 188, 0.4);
    padding: 6px;
    font-size: 0.8em;
    line-height: 1.2em;
    color: rgba(212, 228, 188, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

footer.right { justify-content: flex-end; }

.footersfox a { color: #b5bbc1; }

.footermoji { color: white; }

.footerheart { color: rgba(255, 0, 0, 0.75); }
